# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
db.sqlite3
*.pyc

# Environments
.env
.venv
venv/
ENV/

# Django
*.log
staticfiles/
media/

# VS Code
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db
